.table-container {
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-container button {
    margin: 10px;
    padding: 5px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0;
}

.table-container button:hover{
    background-color: darkblue;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
}

.table-container td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.table-container th{
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}



